@font-face {
  font-family: 'Avenir';
  src:  url('fonts/Avenir.ttc')  format('truetype'); /* Safari, Android, iOS */
}

body{
  margin: 0 !important;
  font-size: 0 !important;
  font-family: 'Prompt', sans-serif !important;
}
.primera{
  height: 100vh;
  position: relative;
}
.imagen-primera{
  width: 100%;
  height: 75vh;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f1f1f1;
}
.imagen-primera img{
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: 0px 72%;
}
.cover-primera{
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.info-primera{
  height: 25vh;
  width: 100%;
  background-color: white;
}
.imagen-info{
  position: absolute;
  top: 5vh;
  left: 5%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.imagen-info img{
  height: 4vh;
  opacity: 0.9;
}
.contenido-info{
  position: absolute;
  top: 10vh;
  left: 5%;
  width: 50%;
  height: auto;
  z-index: 3;
}
.contenido-info h1{
  font-size: 5vmin;
  font-weight: 500;
  /*text-transform: uppercase;*/
  text-align: left;
  color: #800080;
  margin-bottom: 2vh;
  font-family: 'Prompt';
}
.contenido-info h3{
  font-size: 2.7vmin;
  font-family: 'Prompt';
  color: #333;
  text-align: left;
  font-weight: 300;
}
.texto-info{
  position: absolute;
  top: 5vh;
  right: 5%;
  width: 38%;
  z-index: 4;
  height: 25vh;
}
.texto-info p{
  font-size: 2.3vmin;
  font-family: 'Prompt';
  color: #333;
  text-align: justify;
  font-weight: 300;
  margin: 0;
}

.segunda{
  height: 100vh;
  position: relative;
}
.imagen-segunda{
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.imagen-segunda img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.contenido-segunda{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
}
.info-segunda{
  width: 100%;
  margin-left: 10%;
  height: 40vh;
  margin-top: 35vh;
}
.info-segunda h1{
  color: white;
  font-size: 7vmin;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  text-shadow: 2.5px 1px grey;
}
.info-segunda p{
  color: white;
  font-size: 2.8vmin;
  text-align: justify;
  font-weight: 500;
  padding-right: 20%;
}
.contenido-triangulo{
  width: 20%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 49.97%;
}
.triangulo {
	width: 0;
	height: 0;
	border-top: 100vh solid rgba(0,0,0,0.7);
	border-right: 8vw solid transparent;
}
.tercera{
  height: 100vh;
  position: relative;
}
.video{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #333;
  z-index: 1;
}
.info-tercera{
  width: 34%;
  position: absolute;
  top: 20vh;
  right: 15%;
  text-transform: uppercase;
  z-index: 3;
  height: 40vh;
}
.flotante{
  position: absolute;
  width: 100%;
  top: 5vh;
  height: 15vh;
  left: 0;
  border-left: 0.5vw solid #4B374A;
}
.texto{
  position: absolute;
  top:0;
  bottom: 0;
  left: 5%;
  right: 0;
}
.texto p{
  color: #4B374A;
  font-weight: 600;
  font-size: 4vmin;
}
.cuarta{
  height: 100vh;
  position: relative;
}
.imagen-cuarta{
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #f1f1f1;
}
.imagen-cuarta img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.info-cuarta{
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 85vh;
  z-index: 3;
  background-color: #f1f1f1;
}
.info-cuarta h1{
  color: #800080;
  font-weight: 500;
  font-size: 4vmin;
  margin-bottom: 2vh;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Prompt';
}
.info-cuarta p{
  font-size: 2.3vmin;
  font-family: 'Prompt';
  color: #333;
  text-align: justify;
  font-weight: 300;
  padding: 2% 10%;
}
.info-cuarta h3{
  color: #800080;
  font-weight: 500;
  font-size: 2.7vmin;
  margin-bottom: 2vh;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Prompt';
}
.info-cuarta h4{
  color: #800080;
  font-family: 'Prompt';
  font-weight: 300;
  font-size: 2.3vmin;
  margin-bottom: 2vh;
  padding-left: 10%;
  padding-right: 10%;
}
.form{
  position: relative;
  left: 10%;
  width: 60%;
  height: 10vh;
}
.form-name{
  border-radius: 32px;
  padding: 1%;
  border-width: 0;
  width: 84%;
  position: absolute;
  height: 4vh;
  font-size: 2vh;
  padding-left: 5%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  color: #333;
}
.form-telephone{
  border-radius: 32px;
  padding: 1%;
  border-width: 0;
  width: 84%;
  position: absolute;
  top: 5vh;
  height: 4vh;
  font-size: 2vh;
  padding-left: 5%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  color: #333;
}
.form-email{
  border-radius: 32px;
  padding: 1%;
  border-width: 0;
  width: 84%;
  position: absolute;
  top: 10vh;
  height: 4vh;
  font-size: 2vh;
  padding-left: 5%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  color: #333;
}
.form button{
  border-radius: 32px;
  background: transparent;
  border: none;
  color: #74086D;
  position: absolute;
  left: 76%;
  top: 10.7vh;
  font-weight: 900;
  cursor: pointer;
}
.form img{
  height: 2.5vh;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #333;
}

.footer{
  position: absolute;
  bottom: 0;
  height: 15vh;
  background-color: rgba(255,255,255, 1);
  width: 100%;
  left: 0;
}
.redes-footer{
  position: absolute;
  width: 40%;
  height: auto;
  padding-left: 5%;
}
.redes-footer h3{
  font-size: 3vh;
  color: #800080;
  font-weight: 600;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-transform: uppercase;
}
.logo-footer{
  display: inline-block;
  width: 8vh;;
  height: 8vh;
}
.logo-footer img{
  height: 6vh;
}
.contacto-footer{
  width: 50%;
  height: 15vh;
  position: absolute;
  right: 0;
  top: 0;
}
.telefono-footer{
  position: absolute;
  top:4vh;
  left: 10%;
  width: 40%;
  height: 10vh;
}
.telefono-footer span{
  color: #800080;
  font-weight: 500;
  font-size: 2.3vh;
  display: block;
}
.correo-footer{
  position: absolute;
  top:4vh;
  right: 10%;
  width: 40%;
  height: 10vh;
}
.correo-footer span{
  color: #800080;
  font-weight: 500;
  font-size: 2.3vh;
  display: block;
}
.enlaces-footer{
  position: absolute;
  top:2vh;
  width: 20%;
  right: 0;
  height: 6vh;
  text-align: center;
}
.enlaces-footer a{
  color: #800080;
  font-weight: 300;
  font-size: 1.5vh;
  text-decoration: none;
  padding: 3%;
  display: block;
}
.info-footer{
  padding-left: 8%;
  font-weight: 500 !important;
}

@media screen and (max-width: 1050px)
{
  .info-primera{
    height: 40vh;
  }
  .imagen-primera{
    height: 60vh;
  }
  .imagen-primera img{
    height: 60vh;
    object-position: right;
  }
  .imagen-info{
    position: relative;
    width: 100%;
    height: 8vh;
    left: 0;
    right: 0;
    top: 3vh;

  }
  .imagen-info img{
    height: 7vh;
  }
  .contenido-info{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top: 3vh;
  }
  .contenido-info h3{
    text-align: center;
    font-size: 2.7vh;
  }
  .texto-info{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top: 3vh;
  }
  .texto-info p{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.3vh;
  }

  .cuarta{
    width: 100%;
    height: 135vh;
  }
  .info-cuarta{
    width: 100%;
    height: 70vh;
    position: absolute;
    top:0;
    left: 0;
  }
  .info-cuarta h1{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vh;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
  .contenido-form{
    height: 30vh;
    position: absolute;
    top: 44vh;
    width: 100%;
  }
  .info-cuarta h3{
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    text-align: center;
    font-size: 2.4vh;
  }
  .info-cuarta h4{
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    text-align: center;
    font-size: 2.2vh;
  }
  .form{
    position: relative;
    text-align: center;
    left: 0;
    width: 100%;
    height: 15vh;
  }
  .form-name{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
  }
  .form-telephone{
    position: absolute;
    top: 5vh;
    left: 10%;
    width: 80%;
  }
  .form-email{
    position: absolute;
    top: 10vh;
    left: 10%;
    width: 80%;
  }
  .form button{
    right: 10%;
    left: auto;
    top: 10.5vh;
  }
  .form img{
    height: 2.9vh;
  }
  .info-cuarta p{
    padding: 1% 5%;
    margin: 0;
    font-size: 2.3vh;
  }
  .imagen-cuarta{
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 70vh;
    left: 0;
  }
  .imagen-cuarta img{
    height: 30vh;
  }
  .footer{
    width: 100%;
    bottom: 0;
    height: 35vh;
  }
  .redes-footer{
    width: 100%;
    position: relative;
    height: 13vh;
    padding-left: 0;
    text-align: center;
  }
  .contacto-footer{
    width: 100%;
    position: relative;
    height: 22vh;
    text-align: center;
  }
  .telefono-footer{
    width: 100%;
    position: relative;
    height: 10vh;
    top: 2vh;
    left: 0;
  }
  .info-footer{
    padding-left: 0;
  }
  .correo-footer{
    width: 100%;
    position: relative;
    height: 10vh;
    top: 2vh;
    left: 0;
  }
  .enlaces-footer{
    width: 100%;
    position: relative;
    height: 10vh;
  }
  .enlaces-footer a{
    padding: 1% 0;
  }
}
